<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Employment_agency.Properties.Settings.employment_agencyConnectionString"
            connectionString="Data Source=LAPTOP-F3NSA7RF\SQLEXPRESS;Initial Catalog=employment_agency;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>